<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>StartUp</title>
</head>
<body>
<p th:text=""></p>
<h1>Start Up</h1><hr>
<h4>Подробная информация о товаре</h4>
<b>Название товара: </b>
<form action="/startup/create" method="post">
  Название стартапа: <input type="text" name="title"/><br><br>
  Описание стартапа: <input type="text" name="description"/><br><br>
  Цена: <input type="number" name="price"/><br><br>
  Город: <input type="text" name="city"/><br><br>
  Имя: <input type="text" name="author"/><br><br>
  <input type="submit" value="Добавить стартап">
</form>
<form></form>
</body>
</html>