<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>StartUp</title>
</head>
<body>
<h1>Start Up</h1><hr>
<h4>Подробная информация о стартапе</h4>
<img src="#" th:src="@{'/images/' + ${startup.medias.get(0)}}" height="60px"/>
<img src="#" th:src="@{'/images/' + ${startup.medias.get(1)}}" height="60px"/>
<img src="#" th:src="@{'/images/' + ${startup.medias.get(2)}}" height="60px"/>
<b>Название: </b><div th:text="${startup.title}"></div><br>
<b>Описание: </b><div th:text="${startup.description}"></div><br>
<b>Цена: </b><div th:text="${startup.price}"></div><br>
<b>Автор: </b><div th:text="${startup.author}"></div><br>
<b>Сертифицирован: </b><div th:text="${startup.certified} ? 'Да': 'Нет'"></div><br>
<b>Дата создания: </b><div th:text="${startup.creationDate}"></div><br>

<form action="#" th:action="@{'/startup/delete/' + ${startup.ID}}" method="post">
  <input type="submit" value="Удалить">
</form>
<form></form>
</body>
</html>